
build*/
.gradle/
tools/jzkf/jzkf/Debug/
tools/jzkf/Debug/
logs/
*.pdb
*.vs
*/Debug/
*/Release/
*.ipdb
*.obj
*.pch
~$*
*.log
*.tlog
*/java/META-INF/
*/WEB-INF/lib/
*/ad-api/logs/
*/bin/
*/packages/
*/Release/
*/Debug/
*/obj/
*.iml
.~$*
.idea/
proc
.directory
.mailmap
*.ncb
target*/
*.orig
*.tlog
*.war
*.sdf
*.opensdf
*.log
*.ipr
*.iws
*.ipch
*.pdb
debug/
release/
.settings/
*.rej
*.class
*.project
*.classpath
.DS_Store
*~
~$2*
.hg/
*.kdev*
.DS_Store
.git
CMakeLists.txt.user
*.bak
*.patch
*.diff
*.REMOTE.*
*.BACKUP.*
*.BASE.*
*.LOCAL.*
 
# 独立的配置文件,不计入版本控制中
